<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB2h1hZdwHfED9bMwYa10mluYY0JlM4-Ic</string>
	<key>GCM_SENDER_ID</key>
	<string>247433723736</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oezkara.Play4Free</string>
	<key>PROJECT_ID</key>
	<string>play4free-1cfbd</string>
	<key>STORAGE_BUCKET</key>
	<string>play4free-1cfbd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:247433723736:ios:1facc0658612193e36af2d</string>
</dict>
</plist>